.first-post{
    span{
        color: $seccolor;
        font-family: $secfont;
        text-transform: uppercase;
        font-size: 14px;
    }
    h3{
        color: $maincolor;
        font-family: $mainfont;
        padding: 12px 0;
    }
    p{
        @extend h3;
        font-size: 14px;
        padding-top: 0;
        padding-bottom: 28px;
    }
}
