.sec-post{
    img{
        display: block;
        width: 100%;
    }
    span{
        color: $seccolor;
        font-family: $secfont;
        text-transform: uppercase;
        font-size: 14px;
        display: block;
        padding: 18px 0;
    }
    h3{
        color: $maincolor;
        font-family: $mainfont;
        margin-bottom: 20px;
    }
    p{
        @extend h3;
        font-size: 14px;
        padding-top: 0;
    }
}